#landing {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing .content-wrapper {
  padding: 0 20px;
  position: relative;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: url("../../assets/img/landing.svg") no-repeat 80% center;
}

#landing main {
  max-width: 350px;
}

#landing main h1 {
  font-size: 76px;
  font-weight: 900;
  line-height: 70px;
}

#landing main p {
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 24px;
  line-height: 34px;
}

#landing .location {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

#landing .location strong {
  font-weight: 800;
}

#landing .enter-app {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 80px;
  background-color: #ffd666;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

#landing .enter-app:hover {
  background-color: #96feff;
}
